.logo{
  font-size: 30px;
  color: #FFF;
  background: #508CC9;
  width: 100%;
  height: 110px;
}
.subtitulo{
  margin-left: 70px;
  margin-top: -25px;
}
/*--LOGO--*/
.img-header{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: 10px;

}
/*media Querie para dispositvos moviles*/
@media screen and (max-width: 768px){

  
}