*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar{
	margin-bottom: 0;
}

/*--JUMBOTRON--*/
.jumbotron{
	
background: rgba(0,124,158,1);
background: -moz-linear-gradient(left, rgba(0,124,158,1) 0%, rgba(0,124,158,0.85) 24%, rgba(0,108,143,0.58) 69%, rgba(0,97,133,0.58) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,124,158,1)), color-stop(24%, rgba(0,124,158,0.85)), color-stop(69%, rgba(0,108,143,0.58)), color-stop(100%, rgba(0,97,133,0.58)));
background: -webkit-linear-gradient(left, rgba(0,124,158,1) 0%, rgba(0,124,158,0.85) 24%, rgba(0,108,143,0.58) 69%, rgba(0,97,133,0.58) 100%);
background: -o-linear-gradient(left, rgba(0,124,158,1) 0%, rgba(0,124,158,0.85) 24%, rgba(0,108,143,0.58) 69%, rgba(0,97,133,0.58) 100%);
background: -ms-linear-gradient(left, rgba(0,124,158,1) 0%, rgba(0,124,158,0.85) 24%, rgba(0,108,143,0.58) 69%, rgba(0,97,133,0.58) 100%);
background: linear-gradient(to right, rgba(0,124,158,1) 0%, rgba(0,124,158,0.85) 24%, rgba(0,108,143,0.58) 69%, rgba(0,97,133,0.58) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007c9e', endColorstr='#006185', GradientType=1 );

    color: rgba(0, 130, 211, 0.4);
	color:   #fff;
}
.contacto a{
	font-size: 15px;
}
/*--LOGO--*/
.img-header{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 5px solid #fff;	
}
/*--CAROUSEL--*/
.carousel-inner h4{
	text-align: center;
}
/*--SECCIONES--*/
section{
	border-bottom: 1px solid #999;
}
/*media Querie para dispositvos moviles*/
@media screen and (max-width: 768px){
	
}