/* Footer styles
-------------------------------------------------- */
footer {

background: rgba(0,124,158,1);
background: -moz-linear-gradient(left, rgba(0,124,158,1) 0%, rgba(0,124,158,0.85) 24%, rgba(0,108,143,0.58) 69%, rgba(0,97,133,0.58) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,124,158,1)), color-stop(24%, rgba(0,124,158,0.85)), color-stop(69%, rgba(0,108,143,0.58)), color-stop(100%, rgba(0,97,133,0.58)));
background: -webkit-linear-gradient(left, rgba(0,124,158,1) 0%, rgba(0,124,158,0.85) 24%, rgba(0,108,143,0.58) 69%, rgba(0,97,133,0.58) 100%);
background: -o-linear-gradient(left, rgba(0,124,158,1) 0%, rgba(0,124,158,0.85) 24%, rgba(0,108,143,0.58) 69%, rgba(0,97,133,0.58) 100%);
background: -ms-linear-gradient(left, rgba(0,124,158,1) 0%, rgba(0,124,158,0.85) 24%, rgba(0,108,143,0.58) 69%, rgba(0,97,133,0.58) 100%);
background: linear-gradient(to right, rgba(0,124,158,1) 0%, rgba(0,124,158,0.85) 24%, rgba(0,108,143,0.58) 69%, rgba(0,97,133,0.58) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007c9e', endColorstr='#006185', GradientType=1 );


}
footer hr{
  border-bottom: 1px solid #999;

}

.cuadro_intro_hover{
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 200px;
  }

  .cuadro_intro_hover:hover .caption{
    opacity: 1;
    transform: translateY(-150px);
    -webkit-transform:translateY(-150px);
    -moz-transform:translateY(-150px);
    -ms-transform:translateY(-150px);
    -o-transform:translateY(-150px);
  }
  .cuadro_intro_hover img{
    z-index: 4;
  }
  .cuadro_intro_hover .caption{
    position: absolute;
    top:150px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    width: 100%;
  }
  .cuadro_intro_hover .blur{
    background-color: rgba(0,0,0,0.7);
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
  }
  .cuadro_intro_hover .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    top:-20px;
    width: 100%;
  }
    .caption-text img{
     height: 500px; 
     width: 330px;
  }

